* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  max-width: 100%;
  color: white;
}

.trybewarts-header-logo {
  height: 10vh;
}

.trybewarts-login {
  display: flex;
}

.input-trybe-login {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  margin: 0 5px;
  width: 12vw;
}

#button-login {
  background-color: rgba(39, 39, 104, 0.808);
  color: white;
  font-weight: bold;
}

.form-container {
  display: flex;
}

#evaluation-form {
  margin: 20px 50px;
  display: flex;
  width: 675px;
  width: 50%;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  justify-content: center;
}

.inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.styles-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.first-input {
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  border: gray dotted 1px;
}

.second-input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: gray dotted 1px;
}

.third-input {
  width: 50%;
  padding: 10px;
  order: -1;
  border-radius: 5px;
  border: gray dotted 1px;
}

.four-input {
  width: 40%;
  padding: 10px;
  order: 2;
  border-radius: 5px;
  border: gray dotted 1px;
}

.five-input {
  order: 1;
  width: 10%;
  border-radius: 5px;
}

hr {
  margin: 10px;
  border-width: 0;
  background-color: black;
  height: 2px;
  border-radius: 100%;
}

.selectors-container {
  display: flex;
}

.family-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#radio-family {
  display: flex;
  flex-direction: column;
}

.family-container2 {
  width: 60%;
}

#satisfation-container {
  display: flex;
}

#comments-area {
  display: flex;
  flex-direction: column;
}

#evaluation-form h1 {
  display: flex;
  justify-content: center;
}

#agreement-container {
  display: flex;
  align-items: center;
}

#btns {
  display: flex;
  justify-content: space-between;
}

#submit-btn {
  background-color: green;
  width: 35%;
  color: white;
  border-radius: 3px;
  padding: 5px;
}

#submit-btn:hover {
  background-color: rgb(95, 179, 95);
  transition: 0.5s;
}

  @media (max-width: 800px) {
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    #evaluation-form {
      width: 100%;
      order: 2;
      padding: 0 10%;
    }

    #trybewarts-forms-logo {
      margin: auto;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      order: 1;
      height: 250px;
    }
  }
